
*.env
proenv/
__pycache__/
*.pyc
*.db
*.sqlite
*.sqlite3
migrations/__pycache__/
migrations/versions/__pycache__/
.DS_Store
.vscode/
.idea/
*.log
app/static/uploads/*
!app/static/uploads/.gitkeep
.env.local
.env.*.local
config.local.py
instance/
*.pid
logs/